<div class="d-flex justify-content-center" id="particles"></div>

  <div class="maintenance-container">

    <h1>{{'MAINTENANCE.UNDER_MAINTAIN' | translate | titlecase}}</h1>
    <p class="lead">
      {{'MAINTENANCE.TEXT' | translate | titlecase}}
    </p>

    <div class="countdown" id="countdown">
      <div class="time-block"><div class="time-number" id="days">00</div><div class="time-label">Jours</div></div>
      <div class="time-block"><div class="time-number" id="hours">00</div><div class="time-label">Heures</div></div>
      <div class="time-block"><div class="time-number" id="minutes">00</div><div class="time-label">Minutes</div></div>
      <div class="time-block"><div class="time-number" id="seconds">00</div><div class="time-label">Secondes</div></div>
    </div>
</div>