<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>{{'ABOUT.ABOUT_US' | translate | titlecase}}</h2>
      <p>{{'ABOUT.LEARN_SERVICE' | translate | titlecase}} <span> {{'ABOUT.ABOUT' | translate | titlecase}}</span></p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/images/gros-plan-homme-travaillant-puces-informatiques_23-2150880930.jpg) ;" data-aos="fade-up" data-aos-delay="150">
        <div class="call-us position-absolute">
          <h4>Reparation de carte mere</h4>
          <p>+237 657 763 228</p>
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">
            {{'ABOUT.LIBELLE' | translate | titlecase}}
          </p>
          <ul>
            <li><i class="bi bi-check2-all"></i> {{'ABOUT.SELL1' | translate | titlecase}}</li>
            <li><i class="bi bi-check2-all"></i> {{'ABOUT.SELL2' | translate | titlecase}}</li>
            <li><i class="bi bi-check2-all"></i> {{'ABOUT.SELL3' | translate | titlecase}}</li>
          </ul>
          <p>
            <!-- je pourrais mettre ici une description de la vision de l'entreprise M.Fix -->
          </p>

          <div class="position-relative mt-4">
            <img src="assets/img/images/phonerepair.avif" class="img-fluid" alt="">
            <a href="https://youtu.be/rHtBNW1Gmuo?si=XXr4G2Qxhb1eSYWI" class="glightbox play-btn"></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

 <section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box">
          <h3>{{'ABOUT.WHY' | translate | titlecase}}</h3>
          <p>
            {{'ABOUT.ONE' | translate}}
          </p>
          <div class="text-center">
            <a href="#" class="more-btn">{{'ACTIONS.LEARN_MORE' | translate}} <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-8 d-flex align-items-center">
        <div class="row gy-4">

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-clipboard-data"></i>
              <h4>{{'ABOUT.TWO.CARD_HEADER' | translate}}</h4>
              <p>{{'ABOUT.TWO.CARD_CONTENT' | translate}}</p>
            </div>
          </div>

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-gem"></i>
              <h4>{{'ABOUT.THREE.CARD_HEADER' | translate}}</h4>
              <p>{{'ABOUT.THREE.CARD_CONTENT' | translate}}</p>
            </div>
          </div>

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-inboxes"></i>
              <h4>{{'ABOUT.FOUR.CARD_HEADER' | translate}}</h4>
              <p>{{'ABOUT.FOUR.CARD_CONTENT' | translate}}</p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</section>

<section id="stats-counter" class="stats-counter">
  <div class="container" data-aos="zoom-out">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="2320" data-purecounter-duration="1" class="purecounter"></span>
          <p>{{'ABOUT.CLIENTS' | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
          <p>{{'ABOUT.PROJECTS' | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
          <p>{{'ABOUT.HOURS_OF_SUPPORT' | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
          <p>{{'ABOUT.WORKERS' | translate}}</p>
        </div>
      </div>

    </div>

  </div>
</section>
