.fondecran{
    background-color: #000000;
}
.custom-img {
    width: 100px; /* Définissez la largeur souhaitée */
    height: 150px; /* La hauteur sera ajustée automatiquement pour maintenir les proportions */
  }