<section id="menu" class="menu">
  <div class="container" data-aos="fade-up">

    <div class="section-header mt-4">
      <h2>{{'PRODUCTS.HEAD' | translate | titlecase}}</h2>
      <p>{{'PRODUCTS.HEADER_ONE' | translate | titlecase}} <span>{{'PRODUCTS.HEADER_TWO' | translate | titlecase}}</span></p>
    </div>

    <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

      <li class="nav-item">
        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#batteries">
          <h4>Lithium Batteries</h4>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#bms">
          <h4>BMS</h4>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
          <h4>Telephones</h4>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
          <h4>accessoires</h4>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
          <h4>maintenances</h4>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-starters">
          <h4>Laptops</h4>
        </a>
      </li>

    </ul>

    <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

      <div class="tab-pane fade" id="menu-starters">

        <div class="tab-header text-center">
          <h3>Laptops</h3>
        </div>

        <div class="row gy-5">

          <!-- boucle for sur ceci -->
           <div class="col-lg-4 menu-item d-flex flex-column" *ngFor="let item of laptops | slice: (pageLaptops-1) * pageSize : pageLaptops * pageSize">
            <a [href]="item.image" class="glightbox"><img [src]="item.image" class="menu-img img-fluid" alt="" style="height: 250px; object-fit: cover; width: 100%;"></a>
            <h4>{{item.name}}</h4>
            <p class="ingredients flex-grow-1">
              {{item.description}}
            </p>
            <p class="price mt-auto">
              {{item.price}} 
            </p>
          </div>
         
        </div>
        
        <div class="d-flex justify-content-center mt-4" *ngIf="laptops.length > pageSize">
            <ngb-pagination [collectionSize]="laptops.length" [(page)]="pageLaptops" [pageSize]="pageSize"></ngb-pagination>
        </div>
      </div>

      <div class="tab-pane fade" id="menu-breakfast">

        <div class="tab-header text-center">
          <h3>Telephones</h3>
        </div>

        <div class="row gy-5">

          <!-- parcourir la boucle for -->

          <div class="col-lg-4 menu-item d-flex flex-column" *ngFor="let item of smartphones | slice: (pageSmartphones-1) * pageSize : pageSmartphones * pageSize">
            <a [href]="item.image" class="glightbox"><img [src]="item.image" class="menu-img img-fluid" alt="" style="height: 250px; object-fit: cover; width: 100%;"></a>
            <h4>{{item.name}},</h4>
            <p class="ingredients flex-grow-1">
              {{item.description1}}
            </p>
            <p class="price mt-auto">
             {{item.price}}
            </p>
          </div>
          
        </div>

        <div class="d-flex justify-content-center mt-4" *ngIf="smartphones.length > pageSize">
          <ngb-pagination [collectionSize]="smartphones.length" [(page)]="pageSmartphones" [pageSize]="pageSize"></ngb-pagination>
        </div>
      </div>

      <div class="tab-pane fade" id="menu-lunch">

        <div class="tab-header text-center">
          <h3>Accessoires</h3>
        </div>

        <div class="row gy-5">
          <div class="col-lg-4 menu-item d-flex flex-column" *ngFor="let item of accesories | slice: (pageAccessories-1) * pageSize : pageAccessories * pageSize">
            <a [href]="item.image" class="glightbox"><img [src]="item.image" class="menu-img img-fluid" alt="" style="height: 250px; object-fit: cover; width: 100%;"></a>
            <h4>{{item.name}}</h4>
            <p class="ingredients flex-grow-1">
              {{item.description}}
            </p>
            <p class="price mt-auto">
              {{item.price}}
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-4" *ngIf="accesories.length > pageSize">
          <ngb-pagination [collectionSize]="accesories.length" [(page)]="pageAccessories" [pageSize]="pageSize"></ngb-pagination>
        </div>
      </div>

      <div class="tab-pane fade" id="menu-dinner">

        <div class="tab-header text-center">
          <h3>Maintenance</h3>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 menu-item d-flex flex-column" *ngFor="let item of maintnances | slice: (pageMaintenances-1) * pageSize : pageMaintenances * pageSize">
            <a [href]="item.image" class="glightbox"><img [src]="item.image" class="menu-img img-fluid" alt="" style="height: 250px; object-fit: cover; width: 100%;"></a>
            <h4>{{item.name}}</h4>
            <p class="ingredients flex-grow-1">
              {{item.description}}
            </p>
            <p class="price mt-auto">
              {{item.price}}
            </p>
          </div>

        </div>

        <div class="d-flex justify-content-center mt-4" *ngIf="maintnances.length > pageSize">
          <ngb-pagination [collectionSize]="maintnances.length" [(page)]="pageMaintenances" [pageSize]="pageSize"></ngb-pagination>
        </div>
      </div>


      <div class="tab-pane fade active show" id="batteries">

        <div class="tab-header text-center">
          <h3>Batteries</h3>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 menu-item d-flex flex-column" *ngFor="let item of Batteries | slice: (pageBatteries-1) * pageSize : pageBatteries * pageSize">
            <a [href]="item.image" class="glightbox"><img [src]="item.image" class="menu-img img-fluid" alt="" style="height: 250px; object-fit: cover; width: 100%;"></a>
            <h4>{{item.name}}</h4>
            <p class="ingredients flex-grow-1">
              {{item.description}}
            </p>
            <p class="price mt-auto">
              {{item.price}}
            </p>
          </div>

        </div>

        <div class="d-flex justify-content-center mt-4" *ngIf="Batteries.length > pageSize">
          <ngb-pagination [collectionSize]="Batteries.length" [(page)]="pageBatteries" [pageSize]="pageSize"></ngb-pagination>
        </div>
      </div>


      <div class="tab-pane fade" id="bms">

        <div class="tab-header text-center">
          <h3>BMS</h3>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 menu-item d-flex flex-column" *ngFor="let item of Bms | slice: (pageBms-1) * pageSize : pageBms * pageSize">
            <a [href]="item.image" class="glightbox"><img [src]="item.image" class="menu-img img-fluid" alt="" style="height: 250px; object-fit: cover; width: 100%;"></a>
            <h4>{{item.name}}</h4>
            <p class="ingredients flex-grow-1">
              {{item.description}}
            </p>
            <p class="price mt-auto">
              {{item.price}}
            </p>
          </div>

        </div>

        <div class="d-flex justify-content-center mt-4" *ngIf="Bms.length > pageSize">
          <ngb-pagination [collectionSize]="Bms.length" [(page)]="pageBms" [pageSize]="pageSize"></ngb-pagination>
        </div>
      </div>

    </div>

  </div>
</section>
