 <!-- ======= Chefs Section ======= -->
 <section id="chefs" class="chefs section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header mt-2">
      <!-- <h2>Techniciens</h2> -->
      <p>Nos <span>Techniciens</span> Professionnels</p>
    </div>

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="chef-member">
          <div class="member-img">
            <img src="assets/img/images/jjj.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>La team</h4>
            <span>Technicians</span>
            <!-- <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p> -->
          </div>
        </div>
      </div><!-- End Chefs Member -->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="chef-member">
          <div class="member-img">
            <img src="assets/img/images/bless.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Bolack Bless</h4>
            <span>Master</span>
            <!-- <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p> -->
          </div>
        </div>
      </div><!-- End Chefs Member -->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="chef-member">
          <div class="member-img">
            <img src="assets/img/images/user.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Bruno Shine</h4>
            <span>Technician</span>
            <!-- <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p> -->
          </div>
        </div>
      </div><!-- End Chefs Member -->

    </div>

  </div>
</section><!-- End Chefs Section -->
