<section id="events" class="events">
  <div class="container" data-aos="fade-up">

    <div class="section-header mt-2 text-center">
      <h2>Événements</h2>
      <p><span>Nos moments</span> dans votre boutique</p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="event-card" style="background-image: url(assets/img/images/2024.jpg)">
          <div class="content">
            <h3>Fin d'année</h3>
            <p class="description">Ici chez M.Fix la cordialité est la chose la plus partagée.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="event-card" style="background-image: url(assets/img/images/solde.jpg)">
          <div class="content">
            <h3>Soldes fin d'années</h3>
            <p class="description">Profitez de nos réductions exceptionnelles pour finir l'année en beauté.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="event-card" style="background-image: url(assets/img/images/unlock.jpg)">
          <div class="content">
            <h3>Unlocks phones</h3>
            <p class="description">Service de déblocage rapide et professionnel pour tous vos smartphones.</p>
          </div>
        </div>
      </div>

    </div></div>
</section>