<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center ">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0 w-25">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="assets/img/mfix.png" class="w-20 h-25 img-fluid" alt="">
      <!-- <h1>MR FIX <span class="text-info">.</span></h1> -->
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a [routerLink]="['/home']">Accueil</a></li>
        <li><a [routerLink]="['/aboutUS']">Services</a></li>
        <li><a [routerLink]="['/menus']">Nos prix</a></li>
        <li><a [routerLink]="['/events']">Evenements</a></li>
        <li><a [routerLink]="['/chefs']">Techniciens</a></li>
        <li><a [routerLink]="['/gallery']">Gallery</a></li>
        
        <li><a [routerLink]="['/contact']">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->
    <a href="#book-a-table" class="btn-book-a-table bg-success bi bi-whatsapp"></a>
    <!-- <a class="btn-book-a-table" [routerLink]="['/bookatable']">Book a Table</a> -->
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->
