 <!-- ======= Chefs Section ======= -->
 <section id="chefs" class="chefs section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header mt-2">
      <p>Nos <span>Techniciens</span> Professionnels</p>
    </div>

    <div class="row gy-4">
      
      <!-- image blessed -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="chef-member">
          <div class="member-img">
            <img src="assets/img/images/bless.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Bolack Blessed</h4>
            <span>Master technician</span>
          </div>
        </div>
      </div>

      <!-- image de la team au complet -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="chef-member">
          <div class="member-img">
            <img src="assets/img/images/jjj.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>La team</h4>
            <span>Technicians</span>
          </div>
        </div>
      </div>

      <!-- image bruno -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="chef-member">
          <div class="member-img">
            <img src="assets/img/images/user.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Bruno</h4>
            <span>Technician</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
