<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>gallery</h2>
      <p>Check <span class="text-primary">Our Gallery</span></p>
    </div>

    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/user.jpg"><img src="assets/img/images/user.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/unlock.jpg"><img src="assets/img/images/unlock.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/solde.jpg"><img src="assets/img/images/solde.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/show.jpg"><img src="assets/img/images/show.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/partner.jpg"><img src="assets/img/images/partner.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/jjj.jpg"><img src="assets/img/images/jjj.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/img.avif"><img src="assets/img/images/img.avif" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/bruno.jpg"><img src="assets/img/images/bruno.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/bless.jpg"><img src="assets/img/images/bless.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/images/stage.jpg"><img src="assets/img/images/stage.jpg" class="img-fluid" alt=""></a></div>
      </div>
      <div class="swiper-pagination "></div>
    </div>

  </div>
</section><!-- End Gallery Section -->
