<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div>
          <h4>{{'CONTACT.OUR_ADDRESS'| translate | titlecase}}</h4>
          <p>
            Carrefour Awae Escalier <br>  
            Face Tradex Awae<br>
          </p>
        </div>

      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>{{'FOOTER.PHONE'| translate | titlecase}}</h4>
          <p>
            <strong>{{'FOOTER.PHONE'| translate | titlecase}}:</strong> +237 657 763 228<br>
            <strong>Email:</strong> mfixmfixawae@gmail.com<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>{{'FOOTER.OPENING_HOURS'| translate | titlecase}}</h4>
          <p>
            <strong>{{'FOOTER.MON-FRI'| translate | titlecase}}</strong> <br>
            {{'FOOTER.SAT'| translate | titlecase}}
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>{{'FOOTER.FOLLOW_US'| translate | titlecase}}</h4>
        <div class="social-links d-flex ">
          <a href="https://www.facebook.com/MrFix237" class="facebook"><i class="bi bi-facebook"></i> </a>
          <a href="https://www.instagram.com/mfix31/" class="linkedin"><i class="bi bi-instagram"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Mr-Fix</span></strong>. {{'FOOTER.COPYRIGHT'| translate | titlecase}}
    </div>
    <div class="credits">
      {{'FOOTER.DESIGN_BY'| translate | titlecase}} <a href="">N Tech</a>
    </div>
  </div>

</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>
